<section class="firsthome">
  <div class="ink-grid">
    
  </div>
</section>
<section class="smallhome">
  <div class="ink-grid">
    <div class="column-group horizontal-gutters small-vertical-gutters tiny-vertical-gutters push-center">
            <div class="all-50 align-center"><a href="/login"><button class="ink-button blue">É hoje que me faço Homem e registo!</button></a></div> 
            <div class="all-50 align-center"><a href="/signup"><button class="ink-button green">Já sou altamente e já estou registado! =D</button></a></div> 
    </div>
  </div>
</section>
<section class="secondhome">
  <div class="ink-grid">
  <h1 class="fw-light align-center">Construído a pensar na qualidade!</h1>
  <div class="column-group gutters">
  <div class="all-25 medium-50 small-50 tiny-100 align-center">
    <p><a href="wallet.codebits.eu" title="Meo Wallet"><img src="https://www.wallet.pt/assets/images/4_devices.jpg" alt="Meo Wallet"></a></p>
    <p class="fw-thin">MEO Wallet. Uma forma rápida, segura e inovadora de aceitar pagamentos.</p>
  </div>
  <div class="all-25 medium-50 small-50 tiny-100 align-center">
    <p><a href="http://beta.videos.sapo.pt/" title="Sapo Vídeos"><img src="http://www.pcguia.pt/wp-content/uploads/2013/06/SAPO-Ink1.jpg" alt="Sapo Vídeos"></a></p>
    <p class="fw-thin">Ink. Interfaces web responsive que primam pela eficiência e rapidez</p>
  </div>
  <div class="all-25 medium-50 small-50 tiny-100 align-center">
    <p><a href="http://fernandopessoa.labs.sapo.pt/" title="O Mundo em pessoa"><img src="https://scontent-b.xx.fbcdn.net/hphotos-prn1/t31.0-8/1537907_651379144932208_2173928399061206036_o.jpg" alt="O Mundo em Pessoa"></a></p>
    <p class="fw-thin">A equipa dos estudantes minhotos mais fritos do Codebits!</p>
  </div>
  <div class="all-25 medium-50 small-50 tiny-100 align-center">
    <p><a href="https://codebits.eu/" title="Codebits"><img src="http://www.nbarros.net/wp-content/uploads/2012/08/Codebits_2012_logo.png" alt="Codebits"></a></p>
    <p class="fw-thin">O maior e melhor evento de tecnologia que Portugal já viu =D</p>
  </div>
  </div>
</div>
</section>
